header{
    
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 80px;
    background: #4d90f5;
}

h1{
    font-size: 20px;
}

body{
    background: #e4e3e3;
}

.content{
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top:10px;
    padding-bottom: 10px;
}

#character{
    height: 50px; 
    width:700px;
    border: 10px;
    border: 2px solid #E2E8F0;
    box-shadow: #96a0f5;
    padding-left: 10px;
    border-radius: 5px;
}

#searchbtn{
    background: red;
    color:white;
    width:100px;
    height: 50px; 
    border-radius: 5px; 
    border: 0px;
}

.line{
    border-bottom:2px solid gray;
}

#rt{
    height:100px;
    display:flex;
    align-items: center;
    vertical-align: middle;
}

.msg{
    color:red;
}

.content #rt{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

